@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background: transparent; /* 允许 Tauri 的透明背景生效 */
  overflow: hidden;
}

/* 移除 Windows 默认的点击蓝色外框 */
*:focus {
  outline: none;
}